{{ define "main" }}
<!-- Это есть большой костыль, однако как-то это сделать надо было: -->
<style type="text/css">
  body {
    max-width: 1200px
  }
</style>
<h1>{{ .Title }}</h1>
{{ .TableOfContents }}
<content>
  {{ .Content }}
</content>
{{ end }}
