<!-- Взято отсюда: https://station14.ru/index.php?title=Корпоративный_Закон_ВЛ&oldid=6071#Справочник_статей -->
<div style="position: center; overflow: scroll">
<table role="presentation" style="text-align: center; background-color:#FFFFFF;" border="1" cellspacing="0"><tbody>
  <tr>
    <th style="background-color:#1b1b1f;">Код</th>
    <th style="background-color:#6b6201;" width="20px">0XX — Должностные нарушения</th>
    <th style="background-color:#0F4F27;">1XX — Малые нарушения</th>
    <th style="background-color:#414700;">2XX — Легкие нарушения</th>
    <th style="background-color:#633608;">3XX — Средние нарушения</th>
    <th style="background-color:#611300;">4XX — Тяжкие нарушения</th>
    <th style="background-color:#57000C;">5XX — Сверхтяжкие нарушения</th>
    <th style="background-color:#121212;">6XX — Критические нарушения</th>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">00</th>
    <td style="background:#6b6201;"><a href="#000">Незаконный арест</a></td>
    <td style="background:#0F4F27;"><a href="#100">Пассивное сопротивление</a></td>
    <td style="background:#414700;"><a href="#200">Активное сопротивление</a></td>
    <td style="background:#633608;"></td>
    <td style="background:#611300;"><a href="#400">Активная агрессия</a></td>
    <td style="background:#57000C;"></td>
    <td style="background:#121212;"></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">01</th>
    <td style="background:#6b6201;"><a href="#001">Незаконное задержание</a></td>
    <td style="background:#0F4F27;"><a href="#101">Оскорбление должностного лица</a></td>
    <td style="background:#414700;"></td>
    <td style="background:#633608;"><a href="#301">Нападение на должностное лицо</a></td>
    <td style="background:#611300;"></td>
    <td style="background:#57000C;"><a href="#501">Убийство должностного лица</a></td>
    <td style="background:#121212;"><a href="#601">Нападение на командное лицо</a></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">02</th>
    <td style="background:#6b6201;"><a href="#002">Неисполнение приказа</a></td>
    <td style="background:#0F4F27;"><a href="#102">Драка</a></td>
    <td style="background:#414700;"><a href="#202">Побои</a></td>
    <td style="background:#633608;"><a href="#302">Нанесение серьезных увечий</a></td>
    <td style="background:#611300;"><a href="#402">Надругательство над телами</a></td>
    <td style="background:#57000C;"></td>
    <td style="background:#121212;"><a href="#602">Серийные беспорядочные убийства</a></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">03</th>
    <td style="background:#6b6201;"></td>
    <td style="background:#0F4F27;"></td>
    <td style="background:#414700;"><a href="#203">Хранение наркотиков</a></td>
    <td style="background:#633608;"><a href="#303">Распространение наркотиков</a></td>
    <td style="background:#611300;"><a href="#403">Хранение контрабанды</a></td>
    <td style="background:#57000C;"><a href="#503">Распространение контрабанды</a></td>
    <td style="background:#121212;"><a href="#603">Владение вражеским снаряжением</a></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">04</th>
    <td style="background:#6b6201;"><a href="#004">Превышение полномочий</a></td>
    <td style="background:#0F4F27;"><a href="#104">Харассмент</a></td>
    <td style="background:#414700;"><a href="#204">Хулиганство</a></td>
    <td style="background:#633608;"><a href="#304">Деструктивное поведение</a></td>
    <td style="background:#611300;"><a href="#404">Акт Насилия</a></td>
    <td style="background:#57000C;"><a href="#504">Изнасилование</a></td>
    <td style="background:#121212;"></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">05</th>
    <td style="background:#6b6201;"><a href="#005">Неформальные отношения</a></td>
    <td style="background:#0F4F27;"><a href="#105">Засорение радиоэфира</a></td>
    <td style="background:#414700;"><a href="#205">Вандализм</a></td>
    <td style="background:#633608;"><a href="#305">Беспорядки</a></td>
    <td style="background:#611300;"><a href="#405">Подстрекательство к мятежу</a></td>
    <td style="background:#57000C;"><a href="#505">Экстремизм</a></td>
    <td style="background:#121212;"><a href="#605">Мятеж</a></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">06</th>
    <td style="background:#6b6201;"><a href="#006">Злоупотребление экипировкой</a></td>
    <td style="background:#0F4F27;"><a href="#106">Незаконная блокировка отсека</a></td>
    <td style="background:#414700;"><a href="#206">Владение опасным инструментом</a></td>
    <td style="background:#633608;"><a href="#306">Незаконное владение холодным оружием</a></td>
    <td style="background:#611300;"><a href="#406">Незаконное владение огнестрельным оружием</a></td>
    <td style="background:#57000C;"><a href="#506">Незаконный оборот оружием</a></td>
    <td style="background:#121212;"></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">07</th>
    <td style="background:#6b6201;"></td>
    <td style="background:#0F4F27;"><a href="#107">Мелкая кража</a></td>
    <td style="background:#414700;"><a href="#207">Мелкая кража со взломом</a></td>
    <td style="background:#633608;"><a href="#307">Кража</a></td>
    <td style="background:#611300;"><a href="#407">Кража со взломом</a></td>
    <td style="background:#57000C;"><a href="#507">Особо крупная кража</a></td>
    <td style="background:#121212;"></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">08</th>
    <td style="background:#6b6201;"></td>
    <td style="background:#0F4F27;"></td>
    <td style="background:#414700;"><a href="#208">Грабёж</a></td>
    <td style="background:#633608;"><a href="#308">Ограбление</a></td>
    <td style="background:#611300;"><a href="#408">Крупное ограбление</a></td>
    <td style="background:#57000C;"><a href="#508">Разбой</a></td>
    <td style="background:#121212;"><a href="#608">РиОО</a></td></tr>
  <tr>
    <th style="background:#1b1b1f;">09</th>
    <td style="background:#6b6201;"></td>
    <td style="background:#0F4F27;"><a href="#109">Проникновение</a></td>
    <td style="background:#414700;"><a href="#209">Проникновение со взломом</a></td>
    <td style="background:#633608;"><a href="#309">Проникновение в стратегическую точку</a></td>
    <td style="background:#611300;"><a href="#409">Проникновение в стратегическую точку со взломом</a></td>
    <td style="background:#57000C;"><a href="#509">Проникновение в защищённую стратегическую точку</a></td>
    <td style="background:#121212;"></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">10</th>
    <td style="background:#6b6201;"><a href="#010">Разгильдяйство при исполнении</a></td>
    <td style="background:#0F4F27;"><a href="#110">Разгильдяйство</a></td>
    <td style="background:#414700;"><a href="#210">Халатность</a></td>
    <td style="background:#633608;"><a href="#310">Клевета</a></td>
    <td style="background:#611300;"><a href="#410">Грубая халатность</a></td>
    <td style="background:#57000C;"><a href="#510">Саботаж</a></td>
    <td style="background:#121212;"><a href="#610">Попытка уничтожения комплекса</a></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">11</th>
    <td style="background:#6b6201;"></td>
    <td style="background:#0F4F27;"></td>
    <td style="background:#414700;"></td>
    <td style="background:#633608;"><a href="#311">Покушение на преступление</a></td>
    <td style="background:#611300;"><a href="#411">Убийство</a></td>
    <td style="background:#57000C;"><a href="#511">Массовые убийства</a></td>
    <td style="background:#121212;"><a href="#611">Терракт</a></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">12</th>
    <td style="background:#6b6201;"><a href="#012">Фамильярность</a></td>
    <td style="background:#0F4F27;"><a href="#112">Расизм или сексизм</a></td>
    <td style="background:#414700;"><a href="#212">Жестокое обращение с животными</a></td>
    <td style="background:#633608;"><a href="#312">Особо жестокое обращение с животными</a></td>
    <td style="background:#611300;"><a href="#412">Несанкционированные организмы</a></td>
    <td style="background:#57000C;"><a href="#512">Внесение изменений в ПО синтетиков</a></td>
    <td style="background:#121212;"><a href="#612">Изменение законов ИИ</a></td>
  </tr>
  <tr>
    <th style="background:#1b1b1f;">13</th>
    <td style="background:#6b6201;"></td>
    <td style="background:#0F4F27;"></td>
    <td style="background:#414700;"><a href="#212">Попытка организации побега из места лишения свободы</a></td>
    <td style="background:#633608;"><a href="#312">Побег из места лишения свободы</a></td>
    <td style="background:#611300;"></td>
    <td style="background:#57000C;"></td>
    <td style="background:#121212;"><a href="#612">Побег из-под пожизненного заключения</a></td>
  </tr>
</tbody></table>
</div>
